.container {
    display: grid;
    margin: 0;
    /* grid-gap: 5px;     */
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: 50px auto 50px; */
    /* grid-template-areas:
        "m m m m m m m m"
        "h h h h h h h h"
        "a a a a a a a a"
        "p p p p p p p p"
        "t t t t t t t t"
        "q q q q q q q q"
        "e e e e e e e e"
        "i i i i i i i i"
        "l l l l l l l l"
        "f f f f f f f f"; */
}